{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>GeekShop - Каталог</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/products.css' %}" rel="stylesheet"/>
</head>

<body>

                    <div class="carousel-item active">
                        <img
                                class="d-block img-fluid"
                                src="{% static 'vendor/img/slides/slide-1.jpg' %}"
                                alt="First slide"
                        />
                    </div>
                    <div class="carousel-item">
                        <img
                                class="d-block img-fluid"
                                src="{% static 'vendor/img/slides/slide-2.jpg' %}"
                                alt="Second slide"
                        />
                    </div>
                    <div class="carousel-item">
                        <img
                                class="d-block img-fluid"
                                src="{% static 'vendor/img/slides/slide-3.jpg' %}"
                                alt="Third slide"
                        />
                    </div>

                        <a href="#">
                            <img
                                    class="card-img-top"
                                    src="{% static 'vendor/img/products/Adidas-hoodie.png' %}"
                                    alt=""
                            />
                        </a>

                        <a href="#">
                            <img
                                    class="card-img-top"
                                    src="{% static 'vendor/img/products/Blue-jacket-The-North-Face.png' %}"
                                    alt=""
                            />
                        </a>

                        <a href="#">
                            <img
                                    class="card-img-top"
                                    src="{% static 'vendor/img/products/Brown-sports-oversized-top-ASOS-DESIGN.png' %}"
                                    alt=""
                            />
                        </a>

                        <a href="#">
                            <img
                                    class="card-img-top"
                                    src="{% static 'vendor/img/products/Black-Nike-Heritage-backpack.png' %}"
                                    alt=""
                            />
                        </a>

                        <a href="#">
                            <img
                                    class="card-img-top"
                                    src="{% static 'vendor/img/products/Black-Dr-Martens-shoes.png' %}"
                                    alt=""
                            />
                        </a>

                        <a href="#">
                            <img
                                    class="card-img-top"
                                    src="{% static 'vendor/img/products/Dark-blue-wide-leg-ASOs-DESIGN-trousers.png'  %}"
                                    alt=""
                            />
                        </a>

</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script
        src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' %}"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
></script>

<!-- FontAwesome script -->
<script
        src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}"
        crossorigin="anonymous"
></script>
</body>
